<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<header>
		<img src="/images/logo.jpg" alt="Meadowlark Travel Logo">
	</header>
    {{{body}}}
  </body>
</html>
